package ${packageParent}.${packageModule}.entity;

public class ${className} implements Serializable {
    private static final long serialVersionUID=1L;

#foreach($column in ${columns})
    private ${column.columnType} ${column.columnName};
#end
}
